@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}
@layer components {
  .container-main {
    @apply max-w-7xl mx-auto px-6 py-4;
  }
  .carousel::-webkit-scrollbar {
    @apply hidden;
  }
}

/* Custom Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
@keyframes carousel {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
.animate-carousel {
  animation: carousel 8s infinite linear;
}
.animate-morph {
  animation: morph 8s ease-in-out infinite;
}
.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}
.animate-blink {
  animation: blink 1s step-end infinite;
}
.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
